#container {
    max-width: 900px;
    max-height: 600px;
    border: solid black 1px;
    margin: 12px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(209, 209, 209);
}

#nametag {
    max-width: 900px;
    max-height: 600px;
    border: solid black 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 270;
    background-color: rgb(201, 64, 64);
    color: white;
    border-radius: 15px 15px 15px 15px;
}

h1 {
    font-size: 8rem;
    font-weight: 900;
}

h2 {
    font-size: 4rem;
}

#input {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 800px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    color: black;
    font-size: 4rem;
    font-family: cursive;
    border-radius: 15px;
}

#decisions {
    max-width: 900px;
    max-height: 600px;
    margin: 12px;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    /* display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 50px 50px;
    grid-area: 
    ". pink-button blue-button green-button"
    ". . name"; */
    align-items: center;
    border: solid black 1px;
    border-radius: 10px;
}

#pink-button {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 70px;
    border: solid black 1px;
    border-radius: 3px;
    box-shadow: 1px 2px grey; 
    background-color:rgb(245,192,208)
}

#blue-button {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 70px;
    border: solid black 1px;
    border-radius: 3px;
    box-shadow: 1px 2px grey; 
    background-color: rgb(79,148,199)
}

#green-button {
    display: grid;
    justify-self: stretch;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 70px;
    border: solid black 1px;
    border-radius: 3px;
    box-shadow: 1px 2px grey; 
    background-color: rgb(55,190,138);
}

#name {
    display: grid;
    justify-self: stretch;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100px;
    border: solid black 1px;
    border-radius: 3px;
    background-color: white
}