#container {
    border: solid black 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 900px;
    width: 900px;
    background-color: grey;
}

#nametag {
    border: solid black 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 270;
    background-color: red;
    color: white;
    border-radius: 15px 15px 15px 15px;
}

h1 {
    font-size: 8rem;
    font-weight: 900;
}

h2 {
    font-size: 2rem;
}

#input {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 800px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    color: black;
    font-size: 4rem;
    font-family: cursive;
}